@mixin titulo  {
    text-align: center;
    font-size: $font-size-titulo;
    font-family: $font-family-titulo;
    font-style:oblique;
    background: $background-titulo;
    -webkit-background-clip: text;
    color: transparent;  
    border-style:dotted;
    border-color: aqua;
    border-radius: $border-predeterminado;
    border-top-color: pink;
    border-bottom-color: violet;
    border-left-color: aquamarine;
    border-right-color: aquamarine;
    text-shadow: $text-shadow-titulo;
}
@mixin moda-texto{
    width: 20rem;
    height: 25rem;
    justify-self: center;
    p{
        font-size: 1rem;
    }
}

@mixin moda-imagen{
    background-size: 30rem;
    width: 20rem;
    height: 20rem;
    border: solid rgba(179, 2, 170, 0.61);
}

@mixin moda-textotab{
    width: 41rem;
    height: 40rem;
    margin-left: 1rem;
    p{
        font-size: 1.5rem;
    }
}
@mixin moda-imagentab{
    background-size: 50rem;
    width: 90vw;
    height: 60vh;
    border: solid rgba(179, 2, 170, 0.61);
}