.titulomodados{
    grid-area: cinco;
    text-align: center;
    font-size: $font-size-titulo;
    font-family: $font-family-titulo;
    font-style:oblique;
    background: $background-titulo;
    -webkit-background-clip: text;
    color: transparent;  
    border-style:dotted;
    border-color: aqua;
    border-radius: $border-predeterminado;
    border-top-color: pink;
    border-bottom-color: violet;
    border-left-color: aquamarine;
    border-right-color: aquamarine;
    border-radius: $border-predeterminado;
    text-shadow: $text-shadow-titulo;
}
.titulomodatres{
    grid-area: nueve;
    text-align: center;
    font-size: $font-size-titulo;
    font-family: $font-family-titulo;
    font-style:oblique;
    background: $background-titulo;
    -webkit-background-clip: text;
    color: transparent;  
    border-style:dotted;
    border-color: aqua;
    border-radius: $border-predeterminado;
    border-top-color: pink;
    border-bottom-color: violet;
    border-left-color: aquamarine;
    border-right-color: aquamarine;
    border-radius: $border-predeterminado;
    text-shadow: $text-shadow-titulo;
}
.titulo{
    text-align: center;
    font-size: $font-size-titulo;
    font-family: $font-family-titulo;
    font-style:oblique;
    background: $background-titulo;
    -webkit-background-clip: text;
    color: transparent;  
    border-style:dotted;
    border-color: aqua;
    border-radius: $border-predeterminado;
    border-top-color: pink;
    border-bottom-color: violet;
    border-left-color: aquamarine;
    border-right-color: aquamarine;
    border-radius: $border-predeterminado;
    text-shadow: $text-shadow-titulo;
}
.titulomodacine{
    width: 99vw;
    border-radius: $border-predeterminado;
    font-size: $font-size-titulo;
    text-align: center;
    font-family: $font-family-titulo;
    font-style:oblique;
    background: $background-titulo;
    -webkit-background-clip: text;
    color: transparent;  
    border-style:dotted;
    border-color: aqua;
    border-radius: $border-predeterminado;
    border-top-color: pink;
    border-bottom-color: violet;
    border-left-color: aquamarine;
    border-right-color: aquamarine;
    border-radius: $border-predeterminado;
    text-shadow: $text-shadow-titulo;
}
.titulomoda{
    grid-area: cuatro;
    text-align: center;
    font-size: $font-size-titulo;
    font-family: $font-family-titulo;
    font-style:oblique;
    background: $background-titulo;
    -webkit-background-clip: text;
    color: transparent;  
    border-style:dotted;
    border-color: aqua;
    border-radius: $border-predeterminado;
    border-top-color: pink;
    border-bottom-color: violet;
    border-left-color: aquamarine;
    border-right-color: aquamarine;
    border-radius: $border-predeterminado;
    text-shadow: $text-shadow-titulo;
}