.titulomodados{
    grid-area: cinco;
    @include titulo
}

.titulomodatres{
    grid-area: nueve;
    @include titulo 
}
.titulo{
    @include titulo 
}
.titulomodacine{
    @include titulo 
}
.titulomoda{
    grid-area: cuatro;
    @include titulo 
}