$border-predeterminado:1rem;

/* -------------TITULOS----------- */

$font-size-titulo: 9.375rem;

$background-titulo: linear-gradient(rgba(255, 89, 213, 0.678),rgba(115, 246, 255, 0.664));

$text-shadow-titulo: 0.25rem 0.438rem 0.313rem rgba(252, 153, 255, 0.3);

$font-family-titulo: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

